---

import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const friendsPost = await getEntry("spec", "friends");

if (!friendsPost) {
	throw new Error("friends page content not found");
}

const { Content } = await render(friendsPost);
const items = [
	{
		title: "æ— æ¢¦æ¢¦æ¸¸è®°",
		imgurl: "https://bkryofu.cn/resources/avatar.webp",
		desc: "æ²³åŸŽå‡Œé£Žçš„ç‹¬ç«‹åšå®¢",
		siteurl: "https://bkryofu.cn/",
	},
	{
		title: "æ™“ç©ºblog",
		imgurl:
			"https://blog.moeworld.tech/wp-content/themes/kratos-pjax-master/static/images/photo.jpg",
		desc: "å’¦ï¼Œæˆ‘æ˜¯è°ï¼Œæˆ‘åœ¨å“ªï¼Ÿ",
		siteurl: "https://blog.moeworld.tech/",
	},
	{
		title: "ä¸­äºŒç—…æ™šæœŸ",
		imgurl:
			"https://cravatar.cn/avatar/avatar/f28c0de50214c44f67d38e688495d6b7",
		desc: "Helloï¼I'm ä¸­äºŒç—…æ™šæœŸ",
		siteurl: "https://imfurry.com/",
	},
	{
		title: "è¿·å¤±åšå®¢",
		imgurl: "https://www.mishi23.com/favicon.png",
		desc: "åˆ†äº«å¥½ç”¨çš„è½¯ä»¶å’Œæºç ",
		siteurl: "https://www.mishi23.com/",
	},
	{
		title: "äº‘è—‰",
		imgurl: "https://kumosya.top/image/avatar.webp",
		desc: "è®°å½•æ»´æ»´ç‚¹ç‚¹ï¼Œç©¿æ¢­ç‰‡ç‰‡æ±ªæ´‹",
		siteurl: "https://kumosya.top/",
	},
	{
		title: "å†°æ©˜ã®å°çª",
		imgurl: "https://blog.moe233.net/images/tangerine.png",
		desc: "(âŠ™Ï‰âŠ™)ä½ æ‰¾åˆ°æˆ‘äº†",
		siteurl: "https://blog.moe233.net",
	},
	{
		title: "æ´›å±¿çš„å°ç«™",
		imgurl:
			"https://cravatar.cn/avatar/6fa57e21db3ba5961f18a8ae75d0a081?s=200&r=g&d=retro",
		desc: "å—¨ï¼Œé“ä»”ï¼Œä»Šå¤©ä¹Ÿè¦æœ‰ä¸ªå¥½å¿ƒæƒ…å“¦",
		siteurl: "https://www.drluo.top/",
	},
	{
		title: "lhDream",
		imgurl: "https://blog.luhua.site/img/avatar.jpg",
		desc: "é†‰åŽä¸çŸ¥å¤©åœ¨æ°´ï¼Œæ»¡èˆ¹æ¸…æ¢¦åŽ‹æ˜Ÿæ²³ã€‚",
		siteurl: "https://blog.luhua.site",
	},
	{
		title: "JUKAI.SITE",
		imgurl: "https://s2.loli.net/2024/08/05/nctRb3p19AwuGrx.png",
		desc: "æˆ‘å–œæ¬¢å¬èŠ±å¼€çš„å£°éŸ³ï¼Œæ›´æƒ³è‡ªç”±åœ°æ·±æƒ…åœ°å‘¼å¸",
		siteurl: "https://jukai.site",
	},
	{
		title: "æ‰§è¡Œç¨‹åºã®å¤©å¢ƒå°å±‹ðŸ¥",
		imgurl: "https://i.p-i.vip/68/20250316-67d6818047734.jpg",
		desc: "The boy who lived",
		siteurl: "https://blog.hanta2011.top/",
	},
	{
		title: "å°åŸŽå¯’é£Ž",
		imgurl:
			"https://blog.atago.moe/wp-content/uploads/2023/08/å¤´åƒatago512éšå†™.png",
		desc: "é©»è¶³çŽ°å®žï¼Œä»°æœ›æ˜Ÿç©ºï¼ŒçŽ‡æ€§è€Œæ´»",
		siteurl: "https://blog.atago.moe",
	},
	{
		title: "èŠ±çš„ç ”ç©¶ç¬”è®°",
		imgurl: "https://qiniuresources.huaum.com/blog/icon1.png",
		desc: "ä»£ç ä¸ä¼šè¯´è°Žï¼Œä½†äººä¼šã€‚",
		siteurl: "https://huaum.com",
	},
	{
		title: "æ±å¡”é­”æ³•å±‹",
		imgurl: "https://blog.storical.space/images/icon.png",
		desc: "ç§ä¸‹ä¸€é¢—æœ‰æ•…äº‹çš„ç§å­ï¼Œè®©å®ƒå¸¦ç€é­”æ³•å’Œå¥‡è¿¹ç”Ÿæ ¹å‘èŠ½",
		siteurl: "https://blog.storical.space/",
	},
	{
		title: "æ¢¦æƒ³ä¹‹éƒ½",
		imgurl:
			"https://cdn.img.dreamerhe.cn/picx-images-hosting/tx.1seyrn6g84.webp",
		desc: "æœç€æ¢¦æƒ³å‰è¿›ï¼",
		siteurl: "https://blog.dreamerhe.cn/",
	},
	{
		title: "æ°´ç¢§æž«çš„ç”œç‚¹å±‹",
		imgurl: "https://www.crystmaple.net/images/apple-touch-icon-next.png",
		desc: "ææ‹‰ç±³è‹ã€å—ç“œæ´¾ä¸Žçº¢èŒ¶",
		siteurl: "https://www.crystmaple.net",
	},
	{
		title: "æ°§æ°”åšå®¢",
		imgurl: "http://beisent.com/img/favicon.ico",
		desc: "å‘æŽ˜ä¸–ç•Œçš„çœŸç›¸",
		siteurl: "http://beisent.com/",
	},
	{
		title: "æ‹¾å…‰å°é˜",
		imgurl: "https://bear556.top/img/avatar.png",
		desc: "ä¸‡é’Ÿåˆ™ä¸è¾©ç¤¼ä»ªè€Œå—ä¹‹ï¼Œä¸‡é’ŸäºŽæˆ‘ç¾Žæ»‹æ»‹",
		siteurl: "https://bear556.top",
	},
	{
		title: "é›¨é—´æ˜Ÿè¾°",
		imgurl: "https://img.sprinkle.moe/cover/logo.jpg",
		desc: "åŽ»çœ‹çœ‹çƒé›¨æ˜Ÿè¾°ï¼",
		siteurl: "https://sprinkle.moe",
	},
	{
		title: "Jame",
		imgurl: "https://jame.work/favicon.ico",
		desc: "éšç¬”",
		siteurl: "https://jame.work",
	},
	{
		title: "ATao-Blog",
		imgurl: "https://cdn.atao.cyou/Web/Avatar.png",
		desc: "åšè‡ªå·±å–œæ¬¢çš„äº‹",
		siteurl: "https://blog.atao.cyou",
	},
];

function shuffleArray(array) {
	const newArray = [...array];
	for (let i = newArray.length - 1; i > 0; i--) {
		const j = Math.floor(Math.random() * (i + 1));
		[newArray[i], newArray[j]] = [newArray[j], newArray[i]];
	}
	return newArray;
}

const shuffledItems = shuffleArray(items);
---
<MainGridLayout title={i18n(I18nKey.friends)} description={i18n(I18nKey.friends)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-8 my-4">
                {items.map((item) => (
                    <div class="flex flex-nowrap items-stretch h-28 gap-4 rounded-[var(--radius-large)]">
                        <div class="w-28 h-28 flex-shrink-0 rounded-lg overflow-hidden bg-zinc-200 dark:bg-zinc-900">
                            <img src={item.imgurl} alt="ç«™ç‚¹å¤´åƒ" class="w-full h-full object-cover">
                        </div>
                        <div class="grow w-full">
                            <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 mb-1">{item.title}</div>
                            <div class="text-50 text-sm font-medium">{item.desc}</div>
                            <div class:list={["items-center", {"flex": true, "hidden md:flex" : false}]}>
                                <div class="flex flex-row flex-nowrap items-center">
                                    {(item.tags && item.tags.length > 0) && item.tags.map((tag,i) => (
                                    <div class:list={[{"hidden": i==0}, "mx-1.5 text-[var(--meta-divider)] text-sm" ]}>
                                        /
                                    </div>
                                    <span class="transition text-50 text-sm font-medium">
                                        {tag}
                                    </span>))}
                                    {/* {!(item.tags && item.tags.length > 0) && <div class="transition text-50 text-sm font-medium">{i18n(I18nKey.noTags)}</div>} */}
                                </div>
                            </div>
                        </div>
                        <a href={item.siteurl} target="_blank" rel="noopener noreferrer"class="flex btn-regular w-[3.25rem] rounded-lg bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="transition text-[var(--primary)] text-4xl mx-auto iconify iconify--material-symbols" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"></path>
                            </svg>
                        </a>
                    </div>
                ))}
            </div>
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>